
<div class="container mt-5">
    <section class="customer-logos slider">
        <div class="slide">
            <img src="~/assets/img/brands/sonetworks_airwing_logo.png" alt="clientes-sonetworks" />
        </div>
        <div class="slide">
            <img src="~/assets/img/brands/sonetworks_amt_logo.png" alt="clientes-sonetworks" />
        </div>
        <div class="slide">
            <img src="~/assets/img/brands/sonetworks_BPI_logo.png" alt="clientes-sonetworks" />
        </div>
        <div class="slide">
            <img src="~/assets/img/brands/sonetworks_CEMEX_logo.png" alt="clientes-sonetworks" />
        </div>
        <div class="slide">
            <img src="~/assets/img/brands/sonetworks_CLEAN_service.png" alt="clientes-sonetworks" />
        </div>
        <div class="slide">
            <img src="~/assets/img/brands/sonetworks_FEMSA_logo.png" alt="clientes-sonetworks" />
        </div>
        <div class="slide">
            <img src="~/assets/img/brands/sonetworks_genaro_logo.png" alt="clientes-sonetworks" />
        </div>
        <div class="slide">
            <img src="~/assets/img/brands/sonetworks_GIANT_logo.png" alt="clientes-sonetworks" />
        </div>
        <div class="slide">
            <img src="~/assets/img/brands/sonetworks_Kongsberg_logo.png" alt="clientes-sonetworks" />
        </div>
        <div class="slide">
            <img src="~/assets/img/brands/sonetworks_NAWE_logo.png" alt="clientes-sonetworks" />
        </div>
    </section>

</div>
