
<div class="container mt-5">
    <section class="customer-logos slider">
        <div class="slide">
            <a href="https://agroserva.com/" target="_blank">
                <img src="~/assets/img/tiendas/Tienda_Agroserva_Sonetworks.png" alt="Tiendas-sonetworks" />
            </a>
        </div>
        <div class="slide">
            <img src="~/assets/img/brands/sonetworks_FEMSA_logo.png" />
        </div>
        <div class="slide">
            <a href="http://aquamarket.mx/" target="_blank">
                <img src="~/assets/img/tiendas/Tienda_Aquamarket_Sonetworks.png" alt="Tiendas-sonetworks" />
            </a>
        </div>
        <div class="slide">
            <img src="~/assets/img/brands/sonetworks_CEMEX_logo.png" />
        </div>
        <div class="slide">
            <a href="https://carneatucasa.mx/" target="_blank">
                <img src="~/assets/img/tiendas/Tienda_carneatucasa_Sonetworks.png" alt="Tiendas-sonetworks" />
            </a>
        </div>
        <div class="slide">
            <img src="~/assets/img/brands/sonetworks_Kongsberg_logo.png" />
        </div>
        <div class="slide">
            <a href="http://cofarmesa.com/" target="_blank">
                <img src="~/assets/img/tiendas/Tienda_Cofarmesa_Sonetworks.png" alt="Tiendas-sonetworks" />
            </a>
        </div>
        <div class="slide">
            <img src="~/assets/img/brands/sonetworks_CLEAN_service.png" />
        </div>
        <div class="slide">
            <a href="http://ragaelectronica.sone.mx/" target="_blank">
                <img src="~/assets/img/tiendas/Tienda_ragaelectronica_Sonetworks.png" alt="Tiendas-sonetworks" />
            </a>
        </div>

    </section>

</div>
