@page
@model IndexModel
@{
    ViewData["Title"] = "Sonetworks";
}

    <div>
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-white mb-4">Un poco acerca de nosotros...</h2>
                        <h4 class="text-white mb-4">Estamos localizados en Monterrey, México y en Oslo Noruega.</h4>
                        <p class="text-white-50">
                            En <strong>Sonetworks</strong> nos dedicamos a ayudar a otras empresas a mejorar su eficiencia, métodos y operaciones mediante la incorporación de nuevas tecnologías.
                            Nuestra especialidad es la creación de sistemas a la medida adaptados al procesos del cliente. Además de incorporar lo más nuevo en aplicaciones móviles 
                            y sitios Web desarrollados con los más completos estándares.
                        </p>

                        <!--<a asp-area="" asp-page="/Acercade" class="btn btn-block btn-link sone-btn-light"> Saber más de Sonetworks <i class='sone-btn-light-icon fas fa-angle-right' style='font-size:36px'></i></a>
    -->
                    </div>
                </div>
                
                <img class="img-fluid" src="assets/img/Sonetworks-desarrollo-web.png" alt="Sonetworks - desarrollo Web" />
            </div>
        </section>

        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            <div class="container">

                <!-- Encabezado de la sección projectos-->
                <div class="container ">
                    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                        <div class="col-lg-8 mx-auto">
                            <h2 class="text-center mb-4">Algunos de nuestros proyectos...</h2>
                            <p class="text-center mb-4">Hemos ayudado a un gran número de empresas con el desarrollo de soluciones diseñadas exactamente a sus necesidades.</p>
                        </div>
                    </div>
                </div>

                <!-- Featured Project Row  WAZTE-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/sonetworks-wazte.jpg" alt="Portal WAZTE por Sonetworks" /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="home-project-cont featured-text text-center text-lg-left">
                            <h4>Desarrollos que ayuda a negocios aumentar su utilidad</h4>
                            <p class="text-black-50 mb-0">
                                Queremos ser su socio en el proceso desde el mapeo - análisis - desarrollo - implementación. Tenemos más de 20 años de experiencia ayudando a negocios mejorar sus herramientas. 
                            </p>
                        </div>
                        <a asp-area="" asp-page="/Proyectos" class="btn btn-block btn-link sone-btn-light"> Ver más Proyectos <i class='sone-btn-light-icon fas fa-angle-right' style='font-size:36px'></i></a>

                    </div>
                    <partial name="shared/_CarrucelLogos"  />
                </div>

                
            </div>
        </section>

        <!-- Productos-->
        <section class="productos-section projects-section" id="products">
            <div class="container">
                <!-- Encabezado de la sección-->
                <div class="container">
                    <div class="row align-items-center text-center no-gutters mb-4 mb-lg-5">
                        <div class="col-lg-8 mx-auto">
                            <h2 class="text-white mb-4">Nuestros productos...</h2>
                            <h4 class="text-white mb-4">La experiencia de trabajar con grandes marcas.</h4>
                            <p class="text-white-50 mb-4">
                                Sabemos la importancia de tener las herramientas y la tecnología de nuestro lado. Ofrecemos productos de tecnología que impulsan el desarrollo de las marcas.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Featured Project Row  ERP-->
                <div class="container">
                    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                        <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/Sonetworks-EPR_bpi.jpg" alt="ERP de Sonetworks" /></div>
                        <div class="col-xl-4 col-lg-5">
                            <div class="home-project-cont featured-text text-center text-lg-left">
                                <h4 class="text-white">Ve nuestros productos</h4>
                                <p class="text-white-50 mb-0">
                                    A parte dedesarrollar su solución ofrecemos ERP con rápido implementación, tiendas en línea, portales y una variedad de aplicaciones, que ayudará a su negocio crecer y optimizar sus procesos. 
                                </p>
                            </div>
                            <a asp-area="" asp-page="/Productos" class="btn btn-block btn-link sone-btn-white"> Ver  más productos <i class='sone-btn-white-icon fas fa-angle-right' style='font-size:36px'></i></a>

                        </div>
                    </div>
                </div>

                
            </div>
        </section>

        <!-- services-->
        <section class="projects-section bg-light" id="services">
            <div class="container">

                <!-- Encabezado de la sección-->
                <div class="container ">
                    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                        <div class="col-lg-8 mx-auto">
                            <h2 class="text-center mb-4">Nuestros servicios</h2>
                            <p class="text-center mb-4">Somos profesionales y apasionados del desarrollo de soluciones web. Cada uno de nuestros servicios lleva el sello de la excelencia de nuestra empresa.</p>
                        </div>
                    </div>
                </div>

                <!-- Featured Service Row  Desarrollo de sistemas a la medida -->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/sonetworks-wazte.jpg" alt="Portal WAZTE por Sonetworks" /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="home-project-cont featured-text text-center text-lg-left">
                            <h4>Desarrollo de sistemas a la medida</h4>
                            <p class="text-black-50 mb-0">
                                Nuestros desarrolladores senior cuenta en conjunto con más de 100 años de experiencia en desarrollo de souciones 
                                para empresas. Mapeamos sus procesos, diseãmos soluciones. Implementamos los sistemas y capacitamos sus usuarios.
                            </p>
                        </div>

                        <a asp-area="" asp-page="/Servicios" class="btn btn-block btn-link sone-btn-light"> Ver más servicios <i class='sone-btn-light-icon fas fa-angle-right' style='font-size:36px'></i></a>

                    </div>
                </div>

                
            </div>
        </section>

    </div>

